{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Sign IN {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} sign-in-illustration {% endblock body_class %}

{% block content %}

  {% include "includes/navigation-auth.html" %}

  <section>
    <div class="page-header section-height-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h4 class="font-weight-bolder">Logged out</h4>
              </div>

              <div class="card-body">
                <a href="{% url 'login' %}">
                  <button type="button" name="login"
                          class="btn bg-gradient-info w-100 me-2 btn-lg mt-4 mb-0">Click here to log in again</button>
                </a>
              </div>

            </div>
          </div>
          <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">

            <div class="position-relative bg-gradient-light h-100 m-3 px-6 border-radius-lg d-flex flex-column justify-content-center">
              <div class="position-relative">
                <img src="{{ ASSETS_ROOT }}/img/b3-2.jpg"
                 class="max-width-800 w-100 position-relative border-radius-lg z-index-2">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
{% endblock javascripts %}
