{% load crispy_forms_filters %}

<form
  method="get"
  action=""
  class="form-inline col-5 mx-4"
  hx-get=""
  hx-target="#dish-type-table-container"
  hx-swap="outerHTML"
  hx-select="#dish-type-table-container"
>
  <div class="input-group-text p-0" style="border:0px">
    {{ search_form|crispy }}

    {# Search button #}
    <input class="btn btn-secondary" type="submit" value="🔎">

    {# Cancel search button #}
    <button
      type="button"
      class="btn btn-outline-secondary ml-2"
      hx-get="{% url 'kitchen:dish-type-list' %}"
      hx-target="#dish-type-table-container"
      hx-swap="outerHTML"
      hx-select="#dish-type-table-container"
      onclick="
        const input = this.closest('form').querySelector('input[type=text]');
        if (input) input.value = '';
      "
    >
      ✖
    </button>

  </div>
</form>
