{% load crispy_forms_filters %}

<form
  method="get"
  action="{% url reset_url %}"
  class="form-inline col-5 mx-4"
  hx-get="{% url reset_url %}"
  hx-target="#{{ target_id }}"
  hx-swap="outerHTML"
  hx-select="#{{ target_id }}"
>
  <div class="input-group-text p-0" style="border:0px">
    {{ search_form|crispy }}

    <input class="btn btn-secondary" type="submit" value="🔎">

    <button
      type="button"
      class="btn btn-outline-secondary ml-2"
      hx-get="{% url reset_url %}"
      hx-target="#{{ target_id }}"
      hx-swap="outerHTML"
      hx-select="#{{ target_id }}"
      onclick="
        const form = this.closest('form');
        if (!form) return;
        form.querySelectorAll('input[type=text],input[type=search]').forEach(el => el.value = '');
      "
    >
      ✖
    </button>

  </div>
</form>
