{% extends 'layouts/base-presentation.html' %}

{% block title %} Cook list {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} {% endblock body_class %}

{% block content %}

{% include "includes/header.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles_cook.css' %}">

<section class="col-md-12 z-index-2 mt-n12">
  <div class="container">
    <div class="row">
    <div class="col">
      <div class="card border-radius-xl overflow-hidden shadow-lg">
        <div class="card-header border-0">
          <h3 class="mb-0">Cook List
            <a href="{% url 'kitchen:cook-create' %}" style="float: right" class="btn bg-gradient-success w-auto me-2">Create</a>
          </h3>
        </div>

        {% block search %}
          {% include "includes/htmx_search.html" with target_id="cook-table-container" reset_url="kitchen:cook-list" %}
        {% endblock %}

        {% include "kitchen/partials/cook_table_container.html" %}

      </div>
    </div>
  </div>
  </div>
</section>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  {% include "includes/javascripts.html" %}
{% endblock javascripts %}
