{% extends 'layouts/base-presentation.html' %}

{% block title %} {{ form.head_text }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} {% endblock body_class %}

{% block content %}
  {% include "includes/header.html" %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles_dish.css' %}">

  <section class="col-md-12 z-index-2 mt-n12">
    <div class="container w-50">
      <div class="row">
        <div class="col">
          <div class="card border-radius-xl overflow-hidden shadow-lg">
            <div class="card-header border-0">
              <h3 class="mb-0">{{ dish.name }}
                <a href="{% url 'kitchen:dish-delete' pk=dish.id %}" class="btn bg-gradient-danger w-auto me-2">
                  Delete
                </a>
                <a href="{% url 'kitchen:dish-update' pk=dish.id %}" class="btn bg-gradient-secondary w-auto me-2">
                  Update
                </a>
              </h3>
            </div>

            <div class="card-body pt-0">
              <p><strong>Type: </strong>{{ dish.dish_type.name }}</p>
              <p><strong>Price: </strong>{{ dish.price }}</p>
              <p><strong>Description: </strong>{{ dish.description }}</p>

              <div class="ml-3">
                <h4>Cooks</h4>

                <form action="{% url 'kitchen:dish-assign' pk=dish.id %}" method="post">
                  {% csrf_token %}
                  {% if user.is_authenticated %}
                    {% if user in dish.cooks.all %}
                      <input class="btn bg-gradient-danger w-auto me-2" type="submit" value="Delete me from this dish">
                    {% else %}
                      <input class="btn bg-gradient-info w-auto me-2" type="submit" value="Assign me to this dish">
                    {% endif %}
                  {% endif %}
                </form>

                <ul>
                  {% for cook in dish.cooks.all %}
                    <li>{{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})</li>
                  {% endfor %}
                </ul>

              </div>
            </div>

          </div>
        </div>
      </div>
  </section>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  {% include "includes/javascripts.html" %}
{% endblock javascripts %}
