<tr id="dish-type-row-{{ dish_type.id }}">
  <td>{{ dish_type.id }}</td>
  <td>{{ dish_type.name }}</td>

  <td>
    <a
      style="color: blue"
      href="{% url 'kitchen:dish-type-update' pk=dish_type.id %}"
      hx-get="{% url 'kitchen:dish-type-update' pk=dish_type.id %}"
      hx-target="#dish-type-form-container"
      hx-swap="innerHTML"
    >
      Update
    </a>
  </td>

  <td>
    <a
      style="color: red"
      href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}"
      hx-get="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}"
      hx-target="#dish-type-form-container"
      hx-swap="innerHTML"
    >
      Delete
    </a>
  </td>
</tr>
