<div id="dish-table-container">
  <div class="table-responsive m-3 mt-0 mb-0 text-center">
    {% if dish_list %}
      <table class="table align-items-center table-flush mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Format</th>
            <th scope="col">Description</th>
          </tr>
        </thead>

        <tbody>
          {% for dish in dish_list %}
            <tr>
              <td><a href="{% url "kitchen:dish-detail" pk=dish.id %} ">{{ dish.id }}</a></td>
              <td>{{ dish.name }}</td>
              <td>{{ dish.price }}</td>
              <td>{{ dish.dish_type }}</td>
              <td>{{ dish.description }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>

  <div class="card-footer py-4">
    <nav aria-label="...">

        {% block pagination %}
          {% include "includes/htmx_pagination.html" with target_id="dish-table-container" %}
        {% endblock %}

    </nav>
  </div>
</div>
